header{
    padding: 3rem;
    flex-direction: row;
    height: 8rem;
    justify-content: space-between;
    align-items: center;
}
header nav, header img{
    margin: 0;
}
header img{
    height: 8rem;
    width: 16rem;
}
section{
    flex-flow:row wrap;
    align-items:center;
    justify-content: space-around;
}
section div{
    align-items:center;
    flex-basis: 50rem;
    flex-grow:1;
}
section div img, section div p, section div button{
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.comidaHD{
    flex-basis:50rem;
    flex-grow: 1;
    order: 1;
}
main{
    padding-top: 10rem;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 10rem;
}
h1{
    font-size: 6rem;
}
article{
    width: var(--tamano);
    margin-left: 1rem;
    margin-right: 1rem;
}